.product-image{
    padding: 20px;
    
    display: flex;
    flex-direction: row;

}
.side-img{
    display: flex;
    flex-direction: column;
}
.side-img img{
    width: 80px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.productdata{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.image-container{
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack images vertically */
    gap: 16px; 
    padding: 8px;/* Center align horizontally */

}
.image-container img{
   height: 100px;
   width: 100px;
   padding: 8px;
}
.main-image{
    width: 586px;
    height: 600px;
    

}
.main-image img{
    display: flex;
    width: 350px;
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
}

.productdata{
    display: flex;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: -200px;
}
.product-details{
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: -50px;
    gap: 20px;
    
}
.product-size{
    display: flex;
    margin: 10px;
    
    
}
.product-size p{
    border: 1px solid rgb(149, 180, 180);
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.product-size p:hover{
    background-color: #7a7a7a;
}
.product-size p.selected{
    background-color: rgb(149, 180, 180);
    scale: 1.05;
}
.product-size button{
    border: none;
}
.add-to-cart{
    width: 200px;
    height: 40px;
    background-color: #000;
    color: white;
    cursor: pointer;
}
.product-details-detail{
    margin-top: 30px;
}
.price{
    font-size: 24px ;
    
}

@media (max-width:1250px) {
    .image-container img{
        width: 80px;
        height: 80px;
    }
    .product-image{
        display: flex;
        
    }
    .main-image img{
        width: 350px;
    }
    .product-image{
        margin: 0px;
        padding: 10px;
    }
    .product-details{
        width: 300px;
        height: 300px;   
    }
    .productdata{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    .product-details h1{
        font-size: 20px;     
    }
    .product-details p{
        font-size: 14px;
    }
    .product-size p{
        font-size: 14px;
        
    }
    .main-image{
        width: 420px;
        height: 600px;
        
    
    }
}

@media (max-width:950px) {
    
    .main-image img{
        width: 230px;
        height: 250px;
    }
    .side-img img{
        height: 55px;
        width: 50px;

    }
    .productdata{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .product-details{
        align-items: start;
        margin-left: -220px;
        justify-content: center;
    }
    .product-details h1{
        font-size: 16px;
    }
    .product-details p{
        font-size: 12px;
    }
    .product-size p{
        width: 30px;
        height: 30px;
        padding: 6px;
        
    }
    .container{
        margin-left: -20px;
    }
    .main-image{
        width: 400px;
        height: 600px;
        
    
    }
}

@media (max-width:750px) {
    .image-container{
        display: flex;
    }
    .product-image img{
        width: 60px;
        margin: 20px;
    }
    .productdata{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 10px;
        margin-bottom: 70px;
    }
    .product-details{
        margin-top: -250px;
        width: 100%;
        align-items: center;
        margin-left: 20px;
        padding: 20px;
    }
    .main-image img{
        display: flex;
        
        align-items: center;
        width: 350px;
        height: 400px;
        margin-left: -40px;
      
    }
    .product-image{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
    .container{
        margin-left:auto;
        margin-right: auto;
        padding: 10px;
    }
    .side-img{
        display: none;
    }
    .main-image{
        margin-bottom: 70px;
    }
}