.item{
    width: 100%;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.item p{
    margin: 6px 0;
    color: #494949;
    font-size: 14px;
}


.item:hover{
    transform:  scale(1.02);
    transition: 0.3s ease;
}

.item p{
    word-break: break-word;
}